Binaries
Unreal/Build/*
!Build/Android
Unreal/Build/Android/*
!Android/cave.keystore
!Android/ManifestRequirementsOverride.txt
Intermediate
Saved
DerivedDataCache
Script
autosave
renderData
**/*_BuiltData*
.mayaSwatches
TestGame
cvIGNORE
DEBUG
Content/Developers
Content/Asset/*
LaminarLocal.conf
Content/L10N/*/Asset
Apk
Content/Oculus/*